/* Configuração fundo */
body {
    background-image: linear-gradient(180deg, #5ca9d8, #1A3ECD);
}

/* Definindo o posionamento da barra de navegação e tamanho dos botões(img) */
#header {
    display: flex;
    left: 0px;
    right: 0px;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    color: #103b91;
    background-color: #FFFFFF;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#header img {
    width: 7.5em;
    height: 7.5em;
    margin-top: 0.5em;
}

/* Configuração do link e comportamento do hover */
a img {
    transition: 1s;
}

a img:hover {
    opacity: 100%;
    background-color: #1A3ECD;
    border-radius: 3em 3em;
}

/* Configuração do link e comportamento do hover */
a img {
    transition: 1s;
}

#login {
    margin-top: 5em;
    font-size: 1.5em;
    font-family: "Kanit";
}

#formulario {
    font-family: "Kanit";
    font-size: 1.3em;
}

#nome {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#nome input {
    width: 30em;
    height: 2em;
}

#data {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#data input {
    width: 30em;
    height: 2em;
}

#genero {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#genero input {
    margin-top: 2em;
}

#rg {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#rg input {
    width: 30em;
    height: 2em;
}

#cpf {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#cpf input {
    width: 30em;
    height: 2em;
}

#cliente {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#cliente select {
    width: 30em;
    height: 2em;

}

#infoResidential h2 {
    font-size:1.5em;
    margin-top:1.5em;
}


#estado {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#estado select {
    width: 30em;
    height: 2em;
}


#cep {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#cep input {
    width: 30em;
    height: 2em;
}

#bairro {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#bairro input {
    width: 30em;
    height: 2em;
}

#rua {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#rua input {
    width: 30em;
    height: 2em;
}

#numero {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#numero input {
    width: 30em;
    height: 2em;
}

#complemento {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#complemento select {
    width: 30em;
    height: 2em;
}

#email {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#email input {
    width: 30em;
    height: 2em;
}

#senha {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#senha input {
    width: 30em;
    height: 2em;
}

#senhaconfirm {
    width: 33.3%;
    text-align: center;
    height: 4.5em;
    float: left;
}

#senhaconfirm input {
    width: 30em;
    height: 2em;
}

/* Personalização do rodapé */
footer {
    width: 100%;
    color: #FFFFFF;
    font-family: 'Kanit';
    font-size: 1.3em;
    text-align: center;
}

#endereço {
    width: 33.3%;
    float: left;
}

#ceps {
    width: 33.3%;
    float: left;
}

#emails {
    width: 33.3%;
    float: left;
}

/* Responsividade do rodapé */
@media (min-width:280px) and (max-width:1280px) {
    #endereço {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width:1280px) {
    #ceps {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width:1280px) {
    #emails {
        width: 100%;
    }
}
